<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EtcMapper">
<insert id="insertProposal" parameterType="map">
		insert into kcc2022_esoom.egis.TBL_CONTACT (
			 subject,content,id,writer,email,ip,wdate
		)values(
			 #{subject}, #{content}, #{id}, #{writer}, #{email}, #{ip}, getdate()
		)
</insert>
<select id="mainPopup" resultType="map">
		select * from kcc2022_esoom.egis.TBL_POPUP
		where main_chk  = 'Y'
		order by [order]
	</select>
</mapper>