<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FanzoneMapper">
	<select id="topNoticeList" resultType="map">
		select a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
					(SELECT COUNT(*)
				     FROM KCC_EGIS.egis.TBL_NEWS_TAIL b
				     WHERE b.info_num = a.num) AS tail_count
	    from KCC_EGIS.egis.TBL_NEWS a
		where 1=1 
		and part = 'notice'
		and wtype = 'Y'
		and flag = 'N'
		order by num desc
	</select>
	<select id="noticeList" resultType="map">
		SELECT * 
			FROM (	
					select a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
					ROW_NUMBER() OVER (ORDER BY a.num) AS rownum,
					(SELECT COUNT(*)
				     FROM KCC_EGIS.egis.TBL_NEWS_TAIL b
				     WHERE b.info_num = a.num) AS tail_count
					 from KCC_EGIS.egis.TBL_NEWS a 
					where 1=1 
					and a.part = 'notice'
					and a.flag = 'N'
					<if test="keyWord != null">
						<if test='keyWord != ""'>
							and (a.subject like CONCAT('%', #{keyWord}, '%') or a.content like CONCAT('%', #{keyWord}, '%'))
						</if>
					</if>
					) A 
			ORDER BY num desc
			OFFSET (#{currentPage}-1)*#{limit} ROWS
			FETCH NEXT #{limit} ROWS ONLY
	</select>
	<select id="eventList" resultType="map">
		SELECT * 
			FROM (	
					SELECT a.*,
					FORMAT(a.sdate, 'yyyy.MM.dd') AS sdate_format,
					FORMAT(a.edate, 'yyyy.MM.dd') AS edate_format,
					<![CDATA[
					    CASE
					        WHEN getdate() < sdate THEN 'B'
					        WHEN getdate() BETWEEN sdate AND edate and etc2 ='N' THEN 'I'
					        ELSE 'E'
					    END AS event_status
					]]>					    
					FROM KCC_EGIS.egis.TBL_NEWS a
					where 1=1 
					and a.part = 'event'
					and a.flag = 'N'
					<if test="keyWord != null">
						<if test='keyWord != ""'>
							and (a.subject like CONCAT('%', #{keyWord}, '%') or a.content like CONCAT('%', #{keyWord}, '%'))
						</if>
					</if>
					<![CDATA[
					and a.sdate < getdate()
					]]>	
					
					) A 
			ORDER BY num desc
			OFFSET (#{currentPage}-1)*#{limit} ROWS
			FETCH NEXT #{limit} ROWS ONLY
	</select>
	<select id="freeList" resultType="map">
		SELECT * 
			FROM (	
					select A.*
					, FORMAT(A.wdate, 'yyyy.MM.dd') AS reg_date
					, KCC_EGIS.egis.FN_MASK_NAME(writer) writer2
					, ROW_NUMBER() OVER (ORDER BY A.num) AS rownum
					, (SELECT COUNT(*) FROM KCC_EGIS.egis.TBL_FREE_TAIL b WHERE b.info_num = A.num) AS tail_count
					, ROW_NUMBER() OVER (PARTITION BY A.SUBJECT ORDER BY A.SUBJECT) AS SEQ
					from (
							select a.*
							from KCC_EGIS.egis.TBL_FREE a 
							where 1=2 
							and a.chk_del = 'N'
							
							<if test='title =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and a.subject LIKE CONCAT('%', #{keyWord}, '%')
									</if>
								</if>
							</if>
							<if test='content =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and CONTAINS(a.content, #{keyWord})
									</if>
								</if>
							</if>
							<if test='writer =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and a.writer LIKE CONCAT('%', REPLACE(#{keyWord},'*','%'), '%')
									</if>
								</if>
							</if>
							<if test='tail =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
										and a.num in (select distinct info_num FROM KCC_EGIS.egis.TBL_FREE_TAIL where CONTAINS(content, #{keyWord}))
									</if>
								</if>
							</if>
							<if test='tailWriter =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
										and a.num in (select distinct info_num FROM KCC_EGIS.egis.TBL_FREE_TAIL where writer LIKE CONCAT('%', REPLACE(#{keyWord},'*','%'), '%'))
									</if>
								</if>
							</if>
							<if test='title == "N"'>
							    <if test='content == "N"'>
							        <if test='writer == "N"'>
							            <if test='tail == "N"'>
							                <if test='tailWriter == "N"'>
												union all
												select a.*
												from KCC_EGIS.egis.TBL_FREE a 
												where 1=1 
												and a.chk_del = 'N'
												<if test="sdate != null and edate !=null">
													<if test='sdate != "" and edate !=""'>
														and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
													</if>
												</if>
											</if>
										</if>
									</if>
								</if>
							</if>
						) A
					) A 
			WHERE A.SEQ = 1
			ORDER BY num desc
			OFFSET (#{currentPage}-1)*#{limit} ROWS
			FETCH NEXT #{limit} ROWS ONLY
	</select>
	<select id="mypageFreeList" resultType="map">
		select top 8 a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
		KCC_EGIS.egis.FN_MASK_NAME(writer) writer2,
		ROW_NUMBER() OVER (ORDER BY a.num) AS rownum,
		(SELECT COUNT(*)
	     FROM KCC_EGIS.egis.TBL_FREE_TAIL b
	     WHERE b.info_num = a.num) AS tail_count
		 from KCC_EGIS.egis.TBL_FREE a 
		where 1=1 
		and a.chk_del = 'N'
		and a.id = #{member_id}
	</select>
	<select id="getFreeListCount" resultType="int">
		select count(*) from (
		SELECT * 
			FROM (	
					select A.*
					, FORMAT(A.wdate, 'yyyy.MM.dd') AS reg_date
					, KCC_EGIS.egis.FN_MASK_NAME(writer) writer2
					, ROW_NUMBER() OVER (ORDER BY A.num) AS rownum
					, (SELECT COUNT(*) FROM KCC_EGIS.egis.TBL_FREE_TAIL b WHERE b.info_num = A.num) AS tail_count
					, ROW_NUMBER() OVER (PARTITION BY A.SUBJECT ORDER BY A.SUBJECT) AS SEQ
					from (
							select a.*
							from KCC_EGIS.egis.TBL_FREE a 
							where 1=2 
							and a.chk_del = 'N'
							
							<if test='title =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and a.subject LIKE CONCAT('%', #{keyWord}, '%')
									</if>
								</if>
							</if>
							<if test='content =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and CONTAINS(a.content, #{keyWord})
									</if>
								</if>
							</if>
							<if test='writer =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
								      	and a.writer LIKE CONCAT('%', REPLACE(#{keyWord},'*','%'), '%')
									</if>
								</if>
							</if>
							<if test='tail =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
										and a.num in (select distinct info_num FROM KCC_EGIS.egis.TBL_FREE_TAIL where CONTAINS(content, #{keyWord}))
									</if>
								</if>
							</if>
							<if test='tailWriter =="Y"'>
								union all
								select a.*
								from KCC_EGIS.egis.TBL_FREE a 
								where 1=1 
								and a.chk_del = 'N'
								<if test="sdate != null and edate !=null">
									<if test='sdate != "" and edate !=""'>
										and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
									</if>
								</if>
								<if test="keyWord != null">
									<if test='keyWord != ""'>
										and a.num in (select distinct info_num FROM KCC_EGIS.egis.TBL_FREE_TAIL where writer LIKE CONCAT('%', REPLACE(#{keyWord},'*','%'), '%'))
									</if>
								</if>
							</if>
							<if test='title == "N"'>
							    <if test='content == "N"'>
							        <if test='writer == "N"'>
							            <if test='tail == "N"'>
							                <if test='tailWriter == "N"'>
												union all
												select a.*
												from KCC_EGIS.egis.TBL_FREE a 
												where 1=1 
												and a.chk_del = 'N'
												<if test="sdate != null and edate !=null">
													<if test='sdate != "" and edate !=""'>
														and CONVERT(char(10),a.wdate,23) BETWEEN #{sdate} AND #{edate}
													</if>
												</if>
											</if>
										</if>
									</if>
								</if>
							</if>
						) A
					) A 
			WHERE A.SEQ = 1
		) A 
	</select>
	<select id="getNoticeListCount" resultType="int">
		select count(*) from (
		select a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date from KCC_EGIS.egis.TBL_NEWS a 
		where 1=1 
		and a.part = 'notice'
		and a.flag = 'N'
		<if test="keyWord != null">
			<if test='keyWord != ""'>
				and (a.subject like CONCAT('%', #{keyWord}, '%') or a.content like CONCAT('%', #{keyWord}, '%'))
			</if>
		</if>
		) A 
	</select>
	<select id="getEventListCount" resultType="int">
		select count(*) from (
		select a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date from KCC_EGIS.egis.TBL_NEWS a 
		where 1=1 
		and a.part = 'event'
		and a.flag = 'N'
		<if test="keyWord != null">
			<if test='keyWord != ""'>
				and (a.subject like CONCAT('%', #{keyWord}, '%') or a.content like CONCAT('%', #{keyWord}, '%'))
			</if>
		</if>
		<![CDATA[
			and a.sdate < getdate()
		]]>	
		) A 
	</select>
	<select id="topFreeList" resultType="map">
		select a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
					(SELECT COUNT(*)
				     FROM KCC_EGIS.egis.TBL_FREE_TAIL b
				     WHERE b.info_num = a.num) AS tail_count
		 from KCC_EGIS.egis.TBL_FREE a
		where 1=1 
		and a.flag = 'Y'
		and a.chk_del = 'N'
		order by a.num desc
	</select>
	<update id="visitedUpdate" parameterType="map">
		update KCC_EGIS.egis.TBL_FREE
		set visited = visited +1
		where
		num = #{num}
	</update>
	<select id="getFreeDetail" resultType="map">
		select *,FORMAT(wdate, 'yyyy.MM.dd') AS reg_date,
		KCC_EGIS.egis.FN_MASK_ID(id) as id2,
    	KCC_EGIS.egis.FN_MASK_NAME(writer) writer2
		 from KCC_EGIS.egis.TBL_FREE
		where num = #{num}
	</select>
	<select id="getFreeTailListCount" resultType="int">
		select count(*) from (
			select *,FORMAT(wdate , 'yyyy.MM.dd') AS formatted_date,
		    FORMAT(wdate, 'HH:mm:ss') AS formatted_time
		    from KCC_EGIS.egis.TBL_FREE_TAIL
			where info_num = #{num}
		) A 
	</select>
	<select id="getWallpaperListCount" resultType="int">
		select count(*) from (
			select * from KCC_EGIS.egis.TBL_WALLPAPER
		) A 
	</select>
	<select id="wallpaperList" resultType="map">
		SELECT * 
			FROM (
				select * from KCC_EGIS.egis.TBL_WALLPAPER
				) A
		ORDER BY year_month desc
		OFFSET (#{currentPage}-1)*#{limit} ROWS
		FETCH NEXT #{limit} ROWS ONLY
	</select>
	<select id="freeTailList" resultType="map">
		SELECT * 
			FROM (
				select *,FORMAT(wdate , 'yyyy.MM.dd') AS formatted_date,
			    FORMAT(wdate, 'HH:mm') AS formatted_time,
			    KCC_EGIS.egis.FN_MASK_ID(id) as id2,
			    KCC_EGIS.egis.FN_MASK_NAME(writer) writer2
			    from KCC_EGIS.egis.TBL_FREE_TAIL
				where info_num = #{num}
				) A
		ORDER BY num desc
		OFFSET (#{currentPage}-1)*#{limit} ROWS
		FETCH NEXT #{limit} ROWS ONLY
	</select>
	<select id="nextFreeDetail" resultType="map">
		select TOP 1 a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
					KCC_EGIS.egis.FN_MASK_ID(id) as id2,
			    	KCC_EGIS.egis.FN_MASK_NAME(writer) writer2,
					(SELECT COUNT(*)
				     FROM KCC_EGIS.egis.TBL_FREE_TAIL b
				     WHERE b.info_num = a.num) AS tail_count
					 from KCC_EGIS.egis.TBL_FREE a 
					where 1=1 
					and a.chk_del = 'N'
					<![CDATA[and a.num > #{num}]]>
					ORDER BY a.num
	</select>
	<select id="prevFreeDetail" resultType="map">
		select TOP 1 a.*,FORMAT(a.wdate, 'yyyy.MM.dd') AS reg_date,
					KCC_EGIS.egis.FN_MASK_ID(id) as id2,
			    	KCC_EGIS.egis.FN_MASK_NAME(writer) writer2,
					(SELECT COUNT(*)
				     FROM KCC_EGIS.egis.TBL_FREE_TAIL b
				     WHERE b.info_num = a.num) AS tail_count
					 from KCC_EGIS.egis.TBL_FREE a 
					where 1=1 
					and a.chk_del = 'N'
					<![CDATA[and a.num < #{num}]]>
					ORDER BY a.num DESC
	</select>
	<insert id="contentWrite" parameterType="map">
		insert into KCC_EGIS.egis.TBL_FREE_TAIL (
			 info_num, id, writer, content, ip, wdate  
		)values(
			 #{num}, #{id}, #{name}, #{content}, #{ip}, getdate()
		)
</insert>
<delete id="contentDelete" parameterType="map">
		delete from KCC_EGIS.egis.TBL_FREE_TAIL
		where num = #{num}
	</delete>
	<update id="mergeFree" parameterType="map">
		merge into KCC_EGIS.egis.TBL_FREE A
	using 
		(
			select #{num} AS num 
				   ,#{subject} AS subject
				   ,#{content} AS content
				   ,#{id} AS id
				   ,#{writer} AS writer
				   ,#{ip} AS ip
		) B
		on A.num = B.num
		WHEN MATCHED THEN 
			UPDATE set
				    A.subject = B.subject
				   ,A.content = B.content
		   WHEN not MATCHED THEN 
		   INSERT  (
			   			subject
			   		   ,content
					   ,flag
					   ,id
					   ,writer
					   ,ip
					   ,wdate
					   ,chk_del
					   ,visited
					   ,ref
					   ,step
					   ,ansnum
					   ,tn
					   ,pn
					   ,recommend
				   )
			values (
						B.subject
			   		   ,B.content
					   ,'N'
					   ,B.id
					   ,B.writer
					   ,B.ip
					   ,getdate()
					   ,'N'
					   ,0
					   ,0
					   ,0
					   ,0
					   ,0
					   ,0
					   ,0
					);
	</update>
	<update id="freeDelete" parameterType="map">
		update KCC_EGIS.egis.TBL_FREE
		set chk_del = 'Y'
		where
		num= #{num}
		
	</update>
</mapper>
