<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlayerMapper">
<select id="playerRankHome" resultType="map">
		SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when A.game_count>=  (select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.score>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX'and game_code = '01') * CONVERT(FLOAT, 500)/54 then 0 else 1 end) asc
				,A.avg DESC, A.play_min, A.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.score) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'POINT' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			    ) AS A
			) AS C
			WHERE rn = 1
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when B.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when (B.o_r + B.d_r)>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 300)/54 then 0 else 1 end) asc
				,B.avg DESC, B.play_min, B.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.o_r + a.d_r) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'REBOUND' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			    ) AS B
			) AS D
			WHERE rn = 1
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when E.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when E.a_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 120)/54 then 0 else 1 end) asc
				,E.avg DESC, E.play_min, E.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.a_s) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'ASSIST' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			    ) AS E
			) AS F
			WHERE rn = 1
	</select>
<select id="getPlayer" resultType="map">
		select top 1 *,
	CASE
       WHEN pl_pos_code = 'c' THEN 'CENTER'
       WHEN pl_pos_code = 'f' THEN 'FORWARD'
       WHEN pl_pos_code = 'g' THEN 'GUARD'
       ELSE ''
   END AS pl_pos_code_ename,
   REPLACE(pl_birthday, '-', '.') AS format_birthday
    from KCC_EGIS.egis.TBL_PLAYER 
		where
		pl_no = #{pl_no}
		and pl_check ='Y'
		and pl_show = 'Y'
	</select>
<select id="getPlayer2" resultType="map">
		select top 1 * from KCC_EGIS.egis.TBL_PLAYER 
		where
		pl_no = #{pl_no}
		and pl_check ='Y'
	</select>
<select id="getMvp" resultType="map">
		select top 1 * from(
	   select A.season_code,A.game_code,A.game_no,A.team_code,B.kname,A.back_num,A.player_no,SUBSTRING(A.pos,1,1) pos,
		A.start_flag,isnull(A.play_min, 0) play_min,isnull(A.play_sec, 0) play_sec,A.fg,A.fg_a,A.ft,A.ft_a,
		A.threep,A.threep_a,A.dk,A.dk_a,A.pp,A.pp_a,A.o_r,A.d_r,(A.o_r + A.d_r) r_tot,A.a_s,A.s_t,A.b_s,
		A.gd,A.t_o,A.wft,A.woft,A.idf,A.tf,A.ef,A.foul_tot,A.fb,A.p_score,A.score,A.inout,A.inout1,A.fo,
		((A.score+A.s_t+A.b_s+A.d_r)+(A.o_r+A.a_s+A.gd)*1.5+(convert(float,A.play_min)/4))-((A.t_o*1.5)+(A.fg_a-A.fg)+(A.threep_a-A.threep)*0.9+(A.ft_a-A.ft)*0.8) as mvp
		from 
		KCC_EGIS.kbl_data.player_daily_list A
		,KCC_EGIS.kbl_data.player B
		where
		A.season_code = B.season_code
		and A.player_no = B.player_no
		and A.season_code =   #{season_code}
		and A.game_code = #{game_code}
		and A.game_no   = #{game_no}
		and A.team_code = '60'
		and (NULLIF(A.play_min,'') is not null or NULLIF(A.play_sec,'') is not null)
	   ) A
	   order by A.mvp DESC,A.play_min,A.play_sec
	</select>
<select id="playerBirthList" resultType="map">
		select *,SUBSTRING(pl_birthday,6,2) AS pl_birthday_mm from KCC_EGIS.egis.TBL_PLAYER
		where pl_check ='Y'
		and pl_show = 'Y'
		and pl_pos_code in ('c','f','g','s')
		and SUBSTRING(pl_birthday,6,2) LIKE CONCAT('%', #{month}, '%')
	</select>
	<select id="playerDailyList" resultType="map">
		select A.season_code,A.game_code,A.game_no,A.team_code,B.kname,A.back_num,A.player_no,A.pos,
		A.start_flag,isnull(A.play_min, 0) play_min,isnull(A.play_sec, 0) play_sec,A.fg,A.fg_a,A.ft,A.ft_a,
		A.threep,A.threep_a,A.dk,A.dk_a,A.pp,A.pp_a,A.o_r,A.d_r,(A.o_r + A.d_r) r_tot,A.a_s,A.s_t,A.b_s,
		A.gd,A.t_o,A.wft,A.woft,A.idf,A.tf,A.ef,A.foul_tot,A.fb,A.p_score,A.score,A.inout,A.inout1,A.fo
		from 
		KCC_EGIS.kbl_data.player_daily_list A
		,KCC_EGIS.kbl_data.player B
		where
		A.season_code = B.season_code
		and A.player_no = B.player_no
		and A.season_code =   #{season_code}
		and A.game_code = #{game_code}
		and A.game_no   = #{game_no}
		and A.team_code = #{team_code}
		and (NULLIF(A.play_min,'') is not null or NULLIF(A.play_sec,'') is not null)
		order by A.score DESC
	</select>
	<select id="playerTop" resultType="map">
	    SELECT * FROM (
	    SELECT TOP 1 
	        A.season_code, A.game_code, A.game_no, A.team_code, B.kname, A.back_num, A.player_no, SUBSTRING(A.pos,1,1) pos,
	        A.start_flag, ISNULL(A.play_min, 0) play_min, ISNULL(A.play_sec, 0) play_sec, A.fg, A.fg_a, A.ft, A.ft_a,
	        A.threep, A.threep_a, A.dk, A.dk_a, A.pp, A.pp_a, A.o_r, A.d_r, (A.o_r + A.d_r) r_tot, A.a_s, A.s_t, A.b_s,
	        A.gd, A.t_o, A.wft, A.woft, A.idf, A.tf, A.ef, A.foul_tot, A.fb, A.p_score, A.score, A.inout, A.inout1, A.fo
	    FROM KCC_EGIS.kbl_data.player_daily_list A
	    JOIN KCC_EGIS.kbl_data.player B ON A.season_code = B.season_code AND A.player_no = B.player_no
	    WHERE A.season_code = #{season_code}
	      AND A.game_code = #{game_code}
	      AND A.game_no = #{game_no}
	      AND A.team_code = #{team_code}
	      and (NULLIF(A.play_min,'') is not null or NULLIF(A.play_sec,'') is not null)
	    ORDER BY A.score DESC, A.play_min, A.play_sec
	) AS score
	UNION ALL
	SELECT * FROM (
	    SELECT TOP 1 
	        A.season_code, A.game_code, A.game_no, A.team_code, B.kname, A.back_num, A.player_no, SUBSTRING(A.pos,1,1) pos,
	        A.start_flag, ISNULL(A.play_min, 0) play_min, ISNULL(A.play_sec, 0) play_sec, A.fg, A.fg_a, A.ft, A.ft_a,
	        A.threep, A.threep_a, A.dk, A.dk_a, A.pp, A.pp_a, A.o_r, A.d_r, (A.o_r + A.d_r) r_tot, A.a_s, A.s_t, A.b_s,
	        A.gd, A.t_o, A.wft, A.woft, A.idf, A.tf, A.ef, A.foul_tot, A.fb, A.p_score, A.score, A.inout, A.inout1, A.fo
	    FROM KCC_EGIS.kbl_data.player_daily_list A
	    JOIN KCC_EGIS.kbl_data.player B ON A.season_code = B.season_code AND A.player_no = B.player_no
	    WHERE A.season_code = #{season_code}
	      AND A.game_code = #{game_code}
	      AND A.game_no = #{game_no}
	      AND A.team_code = #{team_code}
	      and (NULLIF(A.play_min,'') is not null or NULLIF(A.play_sec,'') is not null)
	    ORDER BY r_tot DESC, A.play_min, A.play_sec
	) AS rebound
	UNION ALL
	SELECT * FROM (
	    SELECT TOP 1 
	        A.season_code, A.game_code, A.game_no, A.team_code, B.kname, A.back_num, A.player_no, SUBSTRING(A.pos,1,1) pos,
	        A.start_flag, ISNULL(A.play_min, 0) play_min, ISNULL(A.play_sec, 0) play_sec, A.fg, A.fg_a, A.ft, A.ft_a,
	        A.threep, A.threep_a, A.dk, A.dk_a, A.pp, A.pp_a, A.o_r, A.d_r, (A.o_r + A.d_r) r_tot, A.a_s, A.s_t, A.b_s,
	        A.gd, A.t_o, A.wft, A.woft, A.idf, A.tf, A.ef, A.foul_tot, A.fb, A.p_score, A.score, A.inout, A.inout1, A.fo
	    FROM KCC_EGIS.kbl_data.player_daily_list A
	    JOIN KCC_EGIS.kbl_data.player B ON A.season_code = B.season_code AND A.player_no = B.player_no
	    WHERE A.season_code = #{season_code}
	      AND A.game_code = #{game_code}
	      AND A.game_no = #{game_no}
	      AND A.team_code = #{team_code}
	      and (NULLIF(A.play_min,'') is not null or NULLIF(A.play_sec,'') is not null) 
	    ORDER BY A.a_s DESC, A.play_min, A.play_sec
	) AS assist
	</select>
	<select id="playerRankListTop" resultType="map">
	    SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when A.game_count>=  (select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.score>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX'and game_code = '01') * CONVERT(FLOAT, 500)/54 then 0 else 1 end) asc
				,A.avg DESC, A.play_min, A.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.score) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'POINT' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS A
			) AS C
			WHERE rn in (1,2,3)
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when B.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when (B.o_r + B.d_r)>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 300)/54 then 0 else 1 end) asc
				,B.avg DESC, B.play_min, B.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.o_r + a.d_r) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'REBOUND' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS B
			) AS D
			WHERE rn in (1,2,3)
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when E.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when E.a_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 120)/54 then 0 else 1 end) asc
				,E.avg DESC, E.play_min, E.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.a_s) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'ASSIST' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS E
			) AS F
			WHERE rn in (1,2,3)
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when G.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when G.s_t>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 50)/54 then 0 else 1 end) asc
				,G.avg DESC, G.play_min, G.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.s_t) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'STEAL' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS G
			) AS H
			WHERE rn in (1,2,3)
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when I.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 when I.b_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 30)/54 then 0 else 1 end) asc
				,I.avg DESC, I.play_min, I.play_sec) AS rn
			    FROM (
			        SELECT a.*, ROUND(CONVERT(FLOAT, a.b_s) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'BLOCK' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS I
			) AS J
			WHERE rn in (1,2,3)
	</select>
	<select id="playerRankListCategory" resultType="map">
	    SELECT *,rn
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when A.game_count>=  (select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.score>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX'and game_code = '01') * CONVERT(FLOAT, 500)/54 then 0 else 1 end) asc
				,A.avg DESC, A.play_min, A.play_sec) AS rn
			    FROM (
			        SELECT a.*,(a.o_r + a.d_r) r_tot, ROUND(CONVERT(FLOAT, a.score) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'POINT' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS A
			) AS C
			WHERE C.player_no = #{player_no}
			UNION ALL
			SELECT *,rn
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when B.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when (B.o_r + B.d_r)>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 300)/54 then 0 else 1 end) asc
				,B.avg DESC, B.play_min, B.play_sec) AS rn
			    FROM (
			        SELECT a.*,(a.o_r + a.d_r) r_tot, ROUND(CONVERT(FLOAT, a.o_r + a.d_r) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'REBOUND' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS B
			) AS D
			WHERE D.player_no = #{player_no}
			UNION ALL
			SELECT *,rn
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when E.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when E.a_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 120)/54 then 0 else 1 end) asc
				,E.avg DESC, E.play_min, E.play_sec) AS rn
			    FROM (
			        SELECT a.*,(a.o_r + a.d_r) r_tot, ROUND(CONVERT(FLOAT, a.a_s) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'ASSIST' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS E
			) AS F
			WHERE F.player_no = #{player_no}
			UNION ALL
			SELECT *,rn
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when G.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when G.s_t>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 50)/54 then 0 else 1 end) asc
				,G.avg DESC, G.play_min, G.play_sec) AS rn
			    FROM (
			        SELECT a.*,(a.o_r + a.d_r) r_tot, ROUND(CONVERT(FLOAT, a.s_t) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'STEAL' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS G
			) AS H
			WHERE H.player_no = #{player_no}
			UNION ALL
			SELECT *,rn
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY (case when I.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 when I.b_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 30)/54 then 0 else 1 end) asc
				,I.avg DESC, I.play_min, I.play_sec) AS rn
			    FROM (
			        SELECT a.*,(a.o_r + a.d_r) r_tot, ROUND(CONVERT(FLOAT, a.b_s) / a.game_count, 1) AS avg,b.pl_name,b.pl_back,b.pl_postion,b.pl_webmain,'BLOCK' as cate
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.egis.TBL_PLAYER b , KCC_EGIS.kbl_data.player c
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = '47'
			          AND a.game_count != 0
			          AND a.player_no = b.pl_no
			          and a.game_code = '01'
			          and b.pl_check = 'Y'
			          and b.pl_show = 'Y'
			          and b.pl_pos_code != 's'
			          and a.season_code = c.season_code
			          and b.pl_no = c.player_no
			          and c.team_code = '60'
			    ) AS I
			) AS J
			WHERE J.player_no = #{player_no}
	</select>
	<select id="playerRankList" resultType="map">
	SELECT *,ROW_NUMBER() OVER 
(ORDER BY 
<if test='category == "point"'>
(case when A.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.score>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX'and game_code = '01') * CONVERT(FLOAT, 500)/54 then 0 else 1 end) asc,  -- 득점순위일 경우
</if>
<if test='category == "rebound"'>
(case when A.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when (A.o_r + A.d_r)>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 300)/54 then 0 else 1 end) asc,  -- 리바운드순위일 경우
</if>
<if test='category == "assist"'>
(case when A.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.a_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 120)/54 then 0 else 1 end) asc,  -- 어시스트순위일 경우
</if>
<if test='category == "steal"'>
(case when A.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.s_t>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 50)/54 then 0 else 1 end) asc,  -- 스틸순위일 경우
</if>
<if test='category == "block"'>
(case when A.game_count>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 32)/54 then 0 
				when A.b_s>=(select game_count from KCC_EGIS.kbl_data.team_sum where season_code ='47' and team_code = '60'
				and quarter_gu ='XX' and game_code = '01') * CONVERT(FLOAT, 30)/54 then 0 else 1 end) asc,  -- 블록순위일 경우
</if>
A.avg2 DESC, A.play_min, A.play_sec) AS rn
			    FROM (
			        SELECT a.*
			        <if test='category == "point"'>
					 ,ROUND(CONVERT(FLOAT, a.score) / a.game_count, 1) AS avg
					 ,(CONVERT(FLOAT, a.score) / a.game_count) as avg2
					</if>
			        <if test='category == "rebound"'>
					 ,ROUND(CONVERT(FLOAT, a.o_r + a.d_r) / a.game_count, 1) AS avg
					 ,(CONVERT(FLOAT, a.o_r + a.d_r) / a.game_count) as avg2
					</if>
			        <if test='category == "assist"'>
					 ,ROUND(CONVERT(FLOAT, a.a_s) / a.game_count, 1) AS avg
					 ,(CONVERT(FLOAT, a.a_s) / a.game_count) as avg2
					</if>
			        <if test='category == "steal"'>
					 ,ROUND(CONVERT(FLOAT, a.s_t) / a.game_count, 1) AS avg
					 ,(CONVERT(FLOAT, a.s_t) / a.game_count) as avg2
					</if>
			        <if test='category == "block"'>
					 ,ROUND(CONVERT(FLOAT, a.b_s) / a.game_count, 1) AS avg
					 ,(CONVERT(FLOAT, a.b_s) / a.game_count) as avg2
					</if>
			         ,(a.o_r + a.d_r) as r_tot,b.kname AS pl_name,b.back_num AS pl_back
			        FROM KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.kbl_data.player b
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          and a.game_code = #{game_code}
			          and a.season_code = b.season_code 
					and a.player_no = b.player_no 
					and b.team_code = '60'
					and b.pos in ('FD','C','GD')
			    ) AS A
	</select>
	<select id="coachList" resultType="map">
	select *,
	REPLACE(pl_birthday, '-', '.') AS format_birthday
	 from KCC_EGIS.egis.TBL_PLAYER
	where 1=1
	and pl_show = 'Y'
	and pl_pos_code in ('a','b','m','t','j','i')
	order by pl_order
	</select>
	<select id="playerList" resultType="map">
	select * from KCC_EGIS.egis.TBL_PLAYER
	where pl_check ='Y'
	and pl_show = 'Y'
	and pl_pos_code in ('f','g','c')
	ORDER BY CAST(pl_back AS INT)
	</select>
	<select id="footPlayerList" resultType="map">
	select *,
		CASE
	       WHEN pl_pos_code = 'c' THEN 'CENTER'
	       WHEN pl_pos_code = 'f' THEN 'FORWARD'
	       WHEN pl_pos_code = 'g' THEN 'GUARD'
	       ELSE ''
	   END AS pl_pos_code_ename 
	from KCC_EGIS.egis.TBL_PLAYER
	where pl_check ='Y'
	and pl_show = 'Y'
	and pl_pos_code in ('f','g','c')
	and pl_no != #{pl_no}
	ORDER BY CAST(pl_back AS INT)
	</select>
	<select id="playerAllList" resultType="map">
	select *,
	CASE
       WHEN pl_pos_code = 'c' THEN 'CENTER'
       WHEN pl_pos_code = 'f' THEN 'FORWARD'
       WHEN pl_pos_code = 'g' THEN 'GUARD'
       ELSE ''
   END AS pl_pos_code_ename
	 from KCC_EGIS.egis.TBL_PLAYER
	where pl_check ='Y'
	and pl_show = 'Y'
	<if test='pl_pos_code == "all"'>
	and pl_pos_code in ('c','f','g')
	</if>
	<if test='pl_pos_code != "all"'>
	and pl_pos_code = #{pl_pos_code}
	</if>
	ORDER BY CAST(pl_back AS INT) 
	</select>
	<select id="playerRecordAvgMap" resultType="map">
		SELECT 
		    ISNULL(ROUND(convert(float, score) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS score,
		    ISNULL(ROUND(convert(float, o_r + d_r) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS r_tot,
		    ISNULL(ROUND(convert(float, a_s) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS a_s,
		    ISNULL(ROUND(convert(float, s_t) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS s_t,
		    ISNULL(ROUND(convert(float, b_s) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS b_s,
		    ISNULL(ROUND(convert(float, fg) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS fg,
		    ISNULL(ROUND(convert(float, fg) / NULLIF(convert(float, fg_a), 0), 1) * 100, 0.0) AS fgp,
		    ISNULL(ROUND(convert(float, threep) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS threep,
		    ISNULL(ROUND(convert(float, threep) / NULLIF(convert(float, threep_a), 0), 1) * 100, 0.0) AS threepp,
		    ISNULL(ROUND(convert(float, ft) / NULLIF(convert(float, game_count), 0), 1), 0.0) AS ft,
		    ISNULL(ROUND(convert(float, ft) / NULLIF(convert(float, ft_a), 0), 1) * 100, 0.0) AS ftp,
		    ISNULL(ROUND(convert(float, fg + threep) / NULLIF(convert(float, fg_a + threep_a), 0), 1) * 100, 0.0) AS ygp
		FROM KCC_EGIS.kbl_data.player_sum
		WHERE season_code = #{season_code}
		  AND quarter_gu = 'XX'
		  AND game_code = '01'
		  AND player_no = #{player_no}
	</select>
	<select id="playerRecordTotalMap" resultType="map">
		select * 
			  ,(o_r + d_r) AS r_tot
			  ,ISNULL(ROUND((convert(float, fg) / NULLIF(convert(float, fg_a), 0) * 100), 1), 0.0) AS fgp
			  ,ISNULL(ROUND((convert(float, threep) / NULLIF(convert(float, threep_a), 0) * 100), 1), 0.0) AS threepp
			  ,ISNULL(ROUND((convert(float, ft) / NULLIF(convert(float, ft_a), 0) * 100), 1), 0.0) AS ftp
			  ,ISNULL(ROUND((convert(float, fg + threep) / NULLIF(convert(float, fg_a + threep_a), 0) * 100), 1), 0.0) AS ygp
	    from KCC_EGIS.kbl_data.player_sum
			where season_code =#{season_code}
			and quarter_gu ='XX'
			and game_code = '01'
			and player_no = #{player_no}
	</select>
	<select id="playerTabRecordAvgMap" resultType="map">
		select ROUND((convert(float,sum(fg))/nullif(convert(float,sum(game_count)), 0)), 1) AS fg
			  ,ROUND((convert(float,sum(fg))/nullif(convert(float,sum(fg_a)), 0) * 100), 1) AS fgp
			  ,ROUND((convert(float,sum(ft))/nullif(convert(float,sum(game_count)), 0)), 1) AS ft
			  ,ROUND((convert(float,sum(ft))/nullif(convert(float,sum(ft_a)), 0) * 100), 1) AS ftp
			  ,ROUND((convert(float,sum(threep))/nullif(convert(float,sum(game_count)), 0)), 1) AS threep
			  ,ROUND((convert(float,sum(threep))/nullif(convert(float,sum(threep_a)), 0) * 100), 1) AS threepp
			  ,ROUND((convert(float,sum(o_r) + sum(d_r))/nullif(convert(float,sum(game_count)), 0)), 1) AS r_tot
			  ,ROUND((convert(float,sum(a_s))/nullif(convert(float,sum(game_count)), 0)), 1) AS a_s
			  ,ROUND((convert(float,sum(b_s))/nullif(convert(float,sum(game_count)), 0)), 1) AS b_s
			  ,ROUND((convert(float,sum(s_t))/nullif(convert(float,sum(game_count)), 0)), 1) AS s_t
			  ,ROUND((convert(float,sum(score))/nullif(convert(float,sum(game_count)), 0)), 1) AS score
			  ,ROUND((convert(float,sum(fg)+sum(threep))/nullif(convert(float,sum(fg_a)+sum(threep_a)), 0) * 100), 1) AS ygp
			from KCC_EGIS.kbl_data.player_sum 
			where player_no =#{player_no}
			and game_code ='01'
			and quarter_gu ='XX'
			and season_code in ((select season_code from KCC_EGIS.kbl_data.code_season
			where season_name_2 ='1군시즌'))
	</select>
	<select id="playerTabRecordTotalMap" resultType="map">
		select sum(fg) AS fg
			  ,ROUND((convert(float,sum(fg))/nullif(convert(float,sum(fg_a)), 0) * 100), 1) AS fgp
			  ,sum(ft) AS ft
			  ,ROUND((convert(float,sum(ft))/nullif(convert(float,sum(ft_a)), 0) * 100), 1) AS ftp
			  ,sum(threep) AS threep
			  ,ROUND((convert(float,sum(threep))/nullif(convert(float,sum(threep_a)), 0) * 100), 1) AS threepp
			  ,(sum(o_r) + sum(d_r)) AS r_tot
			  ,sum(a_s) AS a_s
			  ,sum(b_s) AS b_s
			  ,sum(s_t) AS s_t
			  ,sum(score) AS score
			  ,ROUND((convert(float,sum(fg)+sum(threep))/nullif(convert(float,sum(fg_a)+sum(threep_a)), 0) * 100), 1) AS ygp
			from KCC_EGIS.kbl_data.player_sum 
			where player_no =#{player_no}
			and game_code ='01'
			and quarter_gu ='XX'
			and season_code in ((select season_code from KCC_EGIS.kbl_data.code_season
			where season_name_2 ='1군시즌'))
	</select>
	<select id="prevSeasonList" resultType="map">
		select ROUND((CONVERT(float, score) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS pts,
			ROUND((CONVERT(float, o_r + d_r) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS r_tot,
			ROUND((CONVERT(float, a_s) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS a_s,
			ROUND((CONVERT(float, s_t) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS s_t,
			ROUND((CONVERT(float, b_s) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS b_s,
			ROUND((CONVERT(float, fg) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS fg,
			ROUND((CONVERT(float, fg) / ISNULL(NULLIF(CONVERT(float, fg_a), 0), 1) * 100), 1) AS fgp,
			ROUND((CONVERT(float, threep) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS threep,
			ROUND((CONVERT(float, threep) / ISNULL(NULLIF(CONVERT(float, threep_a), 0), 1) * 100), 1) AS threepp,
			ROUND((CONVERT(float, ft) / ISNULL(NULLIF(CONVERT(float, game_count), 0), 1)), 1) AS ft,
			ROUND((CONVERT(float, ft) / ISNULL(NULLIF(CONVERT(float, ft_a), 0), 1) * 100), 1) AS ftp,
			ROUND((CONVERT(float, fg + threep) / ISNULL(NULLIF(CONVERT(float, fg_a + threep_a), 0), 1) * 100), 1) AS ygp
	    from KCC_EGIS.kbl_data.player_sum
			where season_code ='45'
			and quarter_gu ='XX'
			and game_code = '01'
			and player_no = #{player_no}
	</select>
	<select id="seasonList" resultType="map">
		SELECT 
		    ISNULL(ROUND((convert(float, score) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS pts,
		    ISNULL(ROUND((convert(float, o_r + d_r) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS r_tot,
		    ISNULL(ROUND((convert(float, a_s) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS a_s,
		    ISNULL(ROUND((convert(float, s_t) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS s_t,
		    ISNULL(ROUND((convert(float, b_s) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS b_s,
		    ISNULL(ROUND((convert(float, fg) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS fg,
		    ISNULL(ROUND((convert(float, fg) / NULLIF(convert(float, fg_a), 0) * 100), 1), 0.0) AS fgp,
		    ISNULL(ROUND((convert(float, threep) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS threep,
		    ISNULL(ROUND((convert(float, threep) / NULLIF(convert(float, threep_a), 0) * 100), 1), 0.0) AS threepp,
		    ISNULL(ROUND((convert(float, ft) / NULLIF(convert(float, game_count), 0)), 1), 0.0) AS ft,
		    ISNULL(ROUND((convert(float, ft) / NULLIF(convert(float, ft_a), 0) * 100), 1), 0.0) AS ftp,
		    ISNULL(ROUND((convert(float, fg + threep) / NULLIF(convert(float, fg_a + threep_a), 0) * 100), 1), 0.0) AS ygp
		FROM KCC_EGIS.kbl_data.player_sum
		WHERE season_code = '47'
		  AND quarter_gu = 'XX'
		  AND game_code = '01'
		  AND player_no = #{player_no}
	</select>
	<select id="roundPlayerList" resultType="map">
		select CASE c.win
	        WHEN '0' THEN 'L'
	        WHEN '1' THEN 'W' 
	        END as win
        ,c.score as team_score
		,(select score from KCC_EGIS.kbl_data.team_daily_list where season_code=a.season_code and game_code=a.game_code and game_no=a.game_no and <![CDATA[team_code<>'60']]>) as vsteam_score
		,b.game_round,FORMAT(CONVERT(DATE, b.game_date, 112), 'yyyy.MM.dd') AS game_date,a.*,(a.o_r+a.d_r) as r_tot 
		from KCC_EGIS.kbl_data.player_daily_list a,
		KCC_EGIS.kbl_data.team_schedule b,
		KCC_EGIS.kbl_data.team_daily_list c
		WHERE a.season_code ='47'
		and a.team_code ='60'
		and a.player_no =#{player_no}
		and a.game_code = '01'
		and a.season_code = b.season_code 
		and a.game_code = b.game_code 
		and a.game_no = b.game_no 
		and b.game_round =#{game_round}
		and a.season_code = c.season_code 
		and a.game_code = c.game_code 
		and a.game_no = c.game_no
		and a.team_code = c.team_code
		order by b.game_date desc
	</select>
	<select id="seasonSearchAvgList" resultType="map">
				select b.kname AS pl_name
				,b.back_num AS pl_back 
		      ,a.player_no 
			  ,a.season_code
			  ,a.game_code 
			  ,a.game_count 
			  ,a.play_min 
			  ,a.play_sec
			  ,ISNULL(ROUND((convert(float,fg)/nullif(convert(float,game_count), 0)), 1),0.0) AS fg
			  ,ISNULL(ROUND((convert(float,fg_a)/nullif(convert(float,game_count), 0)), 1),0.0) AS fg_a
			  ,ISNULL(ROUND((convert(float, fg) / NULLIF(convert(float, fg_a), 0) * 100),1),0.0) AS fgp
			  ,ISNULL(ROUND((convert(float,ft)/nullif(convert(float,game_count), 0)), 1),0.0) AS ft
			  ,ISNULL(ROUND((convert(float,ft_a)/nullif(convert(float,game_count), 0)), 1),0.0) AS ft_a
			  ,ISNULL(ROUND((convert(float, ft) / NULLIF(convert(float, ft_a), 0) * 100),1),0.0) AS ftp
			  ,ISNULL(ROUND((convert(float,threep)/nullif(convert(float,game_count), 0)), 1),0.0) AS threep
			  ,ISNULL(ROUND((convert(float,threep_a)/nullif(convert(float,game_count), 0)), 1),0.0) AS threep_a
			  ,ISNULL(ROUND((convert(float, threep) / NULLIF(convert(float, threep_a), 0) * 100),1),0.0) AS threepp
			  ,ISNULL(ROUND((convert(float,pp)/nullif(convert(float,game_count), 0)), 1),0.0) AS pp
			  ,ISNULL(ROUND((convert(float,pp_a)/nullif(convert(float,game_count), 0)), 1),0.0) AS pp_a
			  ,ISNULL(ROUND((convert(float, pp) / NULLIF(convert(float, pp_a), 0) * 100),1),0.0) AS ppp
			  ,ISNULL(ROUND((convert(float,o_r)/nullif(convert(float,game_count), 0)), 1),0.0) AS o_r
			  ,ISNULL(ROUND((convert(float,d_r)/nullif(convert(float,game_count), 0)), 1),0.0) AS d_r
			  ,ISNULL(ROUND((convert(float,o_r + d_r)/nullif(convert(float,game_count), 0)), 1),0.0) AS r_tot
			  ,ISNULL(ROUND((convert(float,a_s)/nullif(convert(float,game_count), 0)), 1),0.0) AS a_s
			  ,ISNULL(ROUND((convert(float,b_s)/nullif(convert(float,game_count), 0)), 1),0.0) AS b_s
			  ,ISNULL(ROUND((convert(float,t_o)/nullif(convert(float,game_count), 0)), 1),0.0) AS t_o
			  ,ISNULL(ROUND((convert(float,foul_tot)/nullif(convert(float,game_count), 0)), 1),0.0) AS foul_tot
			  ,ISNULL(ROUND((convert(float,score)/nullif(convert(float,game_count), 0)), 1),0.0) AS pts
			  from KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.kbl_data.player b
		where quarter_gu ='XX'
		and a.game_code =#{game_code}
		and a.season_code =#{season_code}
		and a.season_code = b.season_code 
		and a.player_no = b.player_no 
		and b.team_code = '60'
		and b.pos in ('FD','C','GD')
		<if test='str == "pl_back"'>
		ORDER BY CAST(b.back_num AS INT)
		</if>
		<if test='str != "pl_back"'>
			ORDER BY ${str} ${sort}
		</if>
	</select>
	<select id="seasonSearchTotalList" resultType="map">
		select b.kname AS pl_name
		,b.back_num AS pl_back 
		,a.*
		,ISNULL(ROUND((convert(float, fg) / NULLIF(convert(float, fg_a), 0) * 100),1),0.0) AS fgp
		,ISNULL(ROUND((convert(float, threep) / NULLIF(convert(float, threep_a), 0) * 100),1),0.0) AS threepp
		,ISNULL(ROUND((convert(float, pp) / NULLIF(convert(float, pp_a), 0) * 100),1),0.0) AS ppp
		,(o_r + d_r) r_tot
		,ISNULL(ROUND((convert(float, ft) / NULLIF(convert(float, ft_a), 0) * 100),1),0.0) AS ftp
		,score AS pts
	from KCC_EGIS.kbl_data.player_sum a,KCC_EGIS.kbl_data.player b
	where quarter_gu ='XX'
	and a.game_code =#{game_code}
	and a.season_code =#{season_code}
	and a.season_code = b.season_code 
	and a.player_no = b.player_no 
	and b.team_code = '60'
	and b.pos in ('FD','C','GD')
	<if test='str == "pl_back"'>
		ORDER BY CAST(b.back_num AS INT)
	</if>
	<if test='str != "pl_back"'>
		ORDER BY ${str} ${sort}
	</if>
	</select>
	<select id="getPlayerSum" resultType="map">
		select *,(o_r+d_r) r_tot from KCC_EGIS.kbl_data.player_sum 
		where quarter_gu ='XX'
		and game_code ='01'
		and season_code ='47'
		and player_no = #{player_no}
	</select>
	<select id="playerSeasonList" resultType="map">
		select * from KCC_EGIS.kbl_data.player_sum
		where quarter_gu ='XX'
		and game_code ='01'
		and player_no = #{player_no}
	</select>
	<select id="selectYearMonthList" resultType="map">
		SELECT 
		    SUBSTRING(b.game_date, 1, 6) AS year_month 
		FROM 
		    KCC_EGIS.kbl_data.player_daily_list a,
		    KCC_EGIS.kbl_data.team_schedule b
		WHERE 1=1
		    and a.player_no = #{player_no}
		    AND a.season_code = '47'
		    AND a.game_code = '01'
		    AND a.season_code = b.season_code 
		    AND a.game_code = b.game_code 
		    AND a.game_no = b.game_no
		GROUP BY 
		    SUBSTRING(b.game_date, 1, 6) 
		ORDER BY 
		    year_month desc
	</select>
	<select id="playerYearMonthList" resultType="map">
		select FORMAT(CONVERT(DATE, b.game_date, 112), 'yyyy.MM.dd') AS game_date,a.*,(a.o_r+a.d_r) AS r_tot
		from KCC_EGIS.kbl_data.player_daily_list a,
		KCC_EGIS.kbl_data.team_schedule b 
		where 1=1
		and a.player_no = #{player_no}
		and a.season_code ='47'
		and a.game_code = '01'
		and a.season_code = b.season_code 
		and a.game_code  = b.game_code 
		and a.game_no  = b.game_no
		and b.game_date like CONCAT('%', #{year_month}, '%')
		order by b.game_date desc
	</select>
	<select id="getLikePlayerImg" resultType="map">
		select * from KCC_EGIS.egis.TBL_LIKE_PLAYER_PHOTO
		where
		id = #{id}
		and player_no = #{player_no}
		
	</select>
	<update id="updateLikePlayer" parameterType="map">
		merge into KCC_EGIS.egis.TBL_LIKE_PLAYER_PHOTO A
	using 
		(
			select #{id} AS id
				  ,#{player_no} AS player_no
				  ,#{img} AS img
		) B
		on A.id = B.id
		and A.player_no = B.player_no
		WHEN MATCHED THEN 
			UPDATE set
				    A.img = B.img
		   WHEN not MATCHED THEN 
		   INSERT  (
			   			id
			   		   ,player_no
					   ,img
				   )
			values (
						B.id
			   		   ,B.player_no
					   ,B.img
					);
	</update>
	<delete id="deleteLikePlayer" parameterType="map">
		delete from KCC_EGIS.egis.TBL_LIKE_PLAYER_PHOTO
		where player_no = #{player_no}
		and id = #{id}
	</delete>
</mapper>