<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TeamRankMapper">
<select id="teamRankHome" resultType="map">
		select top 1 season_code,game_code,rank,team_code,
		game_count,t_win,t_loss,conti_win,conti_loss,format(win_rate, '##0.000') win_rate,win_diff 
		from 
		KCC_EGIS.kbl_data.team_daily_rank
		where
		team_code = '60'
		and game_date = (select MAX(game_date) from KCC_EGIS.kbl_data.team_daily_rank where game_code = '01')  
		and season_code ='45'
	</select>
<select id="getTeamRank" resultType="map">
		select season_code,game_code,rank,team_code,
		game_count,t_win,t_loss,conti_win,conti_loss,format(win_rate, '##0.000') win_rate,win_diff 
		,wl_three
		from 
		KCC_EGIS.kbl_data.team_daily_rank
		where 1=1
		and team_code = #{team_code}
		and season_code = #{season_code}
		and game_date = (select MAX(game_date) from KCC_EGIS.kbl_data.team_daily_rank where season_code=#{season_code} and game_code='01')
	</select>
<select id="teamRankList" resultType="map">
		select A.*,B.team_name_1 
		from 
		(SELECT 
		    t1.season_code, t1.game_code, t1.rank, t1.team_code,
		    t1.game_count, t1.t_win, t1.t_loss, t1.conti_win, t1.conti_loss,
		    FORMAT(t1.win_rate, '##0.000') AS win_rate, t1.win_diff, t1.wl_three , max_conti_win , max_conti_loss
		FROM 
		    KCC_EGIS.kbl_data.team_daily_rank t1
		JOIN (
		    SELECT 
		        team_code, MAX(conti_win) AS max_conti_win , MAX(conti_loss) AS max_conti_loss
		    FROM 
		        KCC_EGIS.kbl_data.team_daily_rank
		    WHERE 
		        season_code = #{season_code}
		        and game_code = '01'
		    GROUP BY 
		        team_code
		) t2 ON t1.team_code = t2.team_code
		WHERE 
		    t1.season_code = #{season_code}
		    AND t1.game_date = (
		        SELECT MAX(game_date) 
		        FROM KCC_EGIS.kbl_data.team_daily_rank 
		        WHERE season_code = #{season_code}
		        and game_code = '01'
		    ) )A ,KCC_EGIS.kbl_data.code_team B
		    where A.season_code = B.season_code
				and A.team_code = B.team_code
				and A.game_code = '01'
				order by A.rank
	</select>
<select id="teamCategoryRankList" resultType="map">
		SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY A.category_data DESC) AS rn
			    FROM (
			        SELECT a.*,a.score as category_data,'득점' as cate
			        FROM KCC_EGIS.kbl_data.team_sum a
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          AND a.game_code = '01'
			    ) AS A
			) AS C
			WHERE team_code = '60'
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY A.category_data DESC) AS rn
			    FROM (
			        SELECT a.*,(o_r+d_r) as category_data,'리바운드' as cate
			        FROM KCC_EGIS.kbl_data.team_sum a
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          AND a.game_code = '01'
			    ) AS A
			) AS C
			WHERE team_code = '60'
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY A.category_data DESC) AS rn
			    FROM (
			        SELECT a.*, a_s as category_data,'어시스트' as cate
			        FROM KCC_EGIS.kbl_data.team_sum a
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          AND a.game_code = '01'
			    ) AS A
			) AS C
			WHERE team_code = '60'
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY A.category_data DESC) AS rn
			    FROM (
			        SELECT a.*,a.s_t as category_data,'스틸' as cate
			        FROM KCC_EGIS.kbl_data.team_sum a
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          AND a.game_code = '01'
			    ) AS A
			) AS C
			WHERE team_code = '60'
			UNION ALL
			SELECT *
			FROM (
			    SELECT *, ROW_NUMBER() OVER (ORDER BY A.category_data DESC) AS rn
			    FROM (
			        SELECT a.*,a.b_s as category_data,'블록' as cate
			        FROM KCC_EGIS.kbl_data.team_sum a
			        WHERE a.quarter_gu = 'XX'
			          AND a.season_code = #{season_code}
			          AND a.game_count != 0
			          AND a.game_code = '01'
			    ) AS A
			) AS C
			WHERE team_code = '60'
	</select>
<select id="seasonList" resultType="map">
		select  season_code
       		  ,game_code 
       		  ,team_code 
       		  ,quarter_gu 
       		  ,game_count 
       		  ,play_min 
       		  ,play_sec 
       		  ,ISNULL(fg, 0) AS fg,
		    ISNULL(fg_a, 0) AS fg_a,
		    ISNULL(ROUND((ISNULL(convert(float, fg), 0) / NULLIF(convert(float, fg_a), 0) * 100), 1), 0.0) AS fgp,
		    ISNULL(ft, 0) AS ft,
		    ISNULL(ft_a, 0) AS ft_a,
		    ISNULL(ROUND((ISNULL(convert(float, ft), 0) / NULLIF(convert(float, ft_a), 0) * 100), 1), 0.0) AS ftp,
		    ISNULL(threep, 0) AS threep,
		    ISNULL(threep_a, 0) AS threep_a,
		    ISNULL(ROUND((ISNULL(convert(float, threep), 0) / NULLIF(convert(float, threep_a), 0) * 100), 1), 0.0) AS threepp,
		    ISNULL(dk, 0) AS dk,
		    ISNULL(dk_a, 0) AS dk_a,
		    ISNULL(pp, 0) AS pp,
		    ISNULL(pp_a, 0) AS pp_a,
		    ISNULL(ROUND((ISNULL(convert(float, pp), 0) / NULLIF(convert(float, pp_a), 0)), 1), 0.0) AS ppp,
		    ISNULL(o_r, 0) AS o_r,
		    ISNULL(d_r, 0) AS d_r,
		    (ISNULL(o_r, 0) + ISNULL(d_r, 0)) AS r_tot,
		    ISNULL(t_r, 0) AS t_r,
		    ISNULL(a_s, 0) AS a_s,
		    ISNULL(s_t, 0) AS s_t,
		    ISNULL(b_s, 0) AS b_s,
		    ISNULL(gd, 0) AS gd,
		    ISNULL(tto, 0) AS tto,
		    ISNULL(t_o, 0) AS t_o,
		    ISNULL(wft, 0) AS wft,
		    ISNULL(woft, 0) AS woft,
		    ISNULL(idf, 0) AS idf,
		    ISNULL(tf, 0) AS tf,
		    ISNULL(bf, 0) AS bf,
		    ISNULL(ef, 0) AS ef,
		    ISNULL(foul_tot, 0) AS foul_tot,
		    ISNULL(tfb, 0) AS tfb,
		    ISNULL(fb, 0) AS fb,
		    ISNULL(p_score, 0) AS p_score,
		    ISNULL(score, 0) AS pts
       from KCC_EGIS.kbl_data.team_sum 
       where quarter_gu ='XX'
       and game_code = '01'
       and team_code = '60'
       order by season_code desc
	</select>
<select id="seasonAvgList" resultType="map">
		select  season_code
       		  ,game_code 
       		  ,team_code 
       		  ,quarter_gu 
       		  ,game_count 
       		  ,play_min 
       		  ,play_sec
       		  ,ISNULL(ROUND((CONVERT(float, fg) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS fg,
			    ISNULL(ROUND((CONVERT(float, fg_a) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS fg_a,
			    ISNULL(ROUND((CONVERT(float, fg) / NULLIF(CONVERT(float, fg_a), 0) * 100), 1), 0.0) AS fgp,
			    ISNULL(ROUND((CONVERT(float, ft) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS ft,
			    ISNULL(ROUND((CONVERT(float, ft_a) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS ft_a,
			    ISNULL(ROUND((CONVERT(float, ft) / NULLIF(CONVERT(float, ft_a), 0) * 100), 1), 0.0) AS ftp,
			    ISNULL(ROUND((CONVERT(float, threep) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS threep,
			    ISNULL(ROUND((CONVERT(float, threep_a) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS threep_a,
			    ISNULL(ROUND((CONVERT(float, threep) / NULLIF(CONVERT(float, threep_a), 0) * 100), 1), 0.0) AS threepp,
			    ISNULL(ROUND((CONVERT(float, pp) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS pp,
			    ISNULL(ROUND((CONVERT(float, pp_a) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS pp_a,
			    ISNULL(ROUND((CONVERT(float, pp) / NULLIF(CONVERT(float, pp_a), 0) * 100), 1), 0.0) AS ppp,
			    ISNULL(ROUND((CONVERT(float, o_r) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS o_r,
			    ISNULL(ROUND((CONVERT(float, d_r) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS d_r,
			    ISNULL(ROUND((CONVERT(float, o_r + d_r) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS r_tot,
			    ISNULL(a_s, 0) AS a_s,
			    ISNULL(s_t, 0) AS s_t,
			    ISNULL(ROUND((CONVERT(float, b_s) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS b_s,
			    ISNULL(gd, 0) AS gd,
			    ISNULL(tto, 0) AS tto,
			    ISNULL(ROUND((CONVERT(float, t_o) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS t_o,
			    ISNULL(wft, 0) AS wft,
			    ISNULL(woft, 0) AS woft,
			    ISNULL(idf, 0) AS idf,
			    ISNULL(tf, 0) AS tf,
			    ISNULL(bf, 0) AS bf,
			    ISNULL(ef, 0) AS ef,
			    ISNULL(ROUND((CONVERT(float, foul_tot) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS foul_tot,
			    ISNULL(tfb, 0) AS tfb,
			    ISNULL(fb, 0) AS fb,
			    ISNULL(p_score, 0) AS p_score,
			    ISNULL(score, 0) AS score,
			    ISNULL(ROUND((CONVERT(float, score) / NULLIF(CONVERT(float, game_count), 0)), 1), 0.0) AS pts
       from KCC_EGIS.kbl_data.team_sum 
       where quarter_gu ='XX'
       and game_code = '01'
       and team_code = '60'
       order by season_code desc
	</select>
</mapper>